<ngx-blank-layout>
  <content>
    <div class="offset-md-5 offset-sm-3 col-md-2" style="margin-top: 10%">
      <div style="margin-bottom: 50px;"><img src="../../../assets/images/logo.png" style="width: 254px; height: auto;" alt=""></div>
      <div class="fb-login-button" data-scope="public_profile,email,manage_pages,pages_messaging" data-max-rows="1" data-size="large" data-button-type="continue_with"
        data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
        <p style="padding-top: 20px;"><i class="ion-ios-information-outline"></i> We’ll need permissions to manage your Page’s messages in order to automate your replies.</p>
        <p><a href="https://botsoft.ai/terms-and-conditions" target="_blank" style="color: #0088ff;">Terms and Conditions</a> | <a href="https://botsoft.ai/privacy-policy" target="_blank" style="color: #0088ff;">Privacy Policy</a></p>
      </div>
  </content>
</ngx-blank-layout>
