<div class="row">
  <div *ngIf="purchases?.length == 0">There are no orders...</div>
  <div class="col-xxxl-3 col-md-6" *ngFor="let purchase of purchases">
    <ngx-orders-card *ngIf="purchase?.status == 'New'" (messageEvent)="receiveStatusUpdatedMessage($event)" [purchase_id]="purchase?.id" [details]="purchase?.details" [name]="purchase?.user?.first_name + ' ' + purchase?.user?.last_name" [price]="purchase?.price+purchase?.currency" [avatar]="purchase?.user?.profile_pic"></ngx-orders-card>
  </div>
</div>
